<h1><%= t(".edit_user") %></h1>

<div class="form-row">
  <div class="col-md-6">
    <%= render 'form', user: @user %>
  </div>
</div>

<p class="buffer-top">
  <%= link_to t(".change_password"), edit_user_registration_path %>
</p>

<%= link_to t(".show_event"), @user %> |
<%= link_to t(".back"), :back %>
